// color
$theme-color: #0c9661;
$theme-hover: #33af80;
$theme-active: #0b724b;
$bg-color: #fdfdfd;
$light-bgcolor: #f5f5f5;
$green: #6bc257;
$cyan: #70d1e9;
$pink: #ff8bb6;
$red: #ff4213;
$gray: #f1f1f1;
$grey: #f5f5f5;
$black: #000000;
$white: #ffffff;
$gold: #e7aa5a;
$blue: #517eaf;
$blue-hover: #0461c4;
$light-red: #ff6565;
$yellow: #f19100;

// font
$font-size: 14px;
$font-size-medium-sm: 13px;
$font-size-lg: 16px;
$font-size-sm: 12px;
$font-size-xs: 10px;
$font-size-medium: 15px;
$font-size-title: 20px;
$font-size-title-lg: 24px;

$font-weight-bold: 700;

$font-color: #494949;
$font-color-ban: #d7d8df;
$font-color-transparent: rgba(255, 255, 255, 0.5);

$font-color-grey: #5c5c5c;
$font-color-grey-shallow: #727272;
$font-color-gray: #333333;
$font-color-gray-shallow: #a39d9d;
$font-color-grey2: #808080;
$font-color-white: #dcdde4;
$font-shallow: #515151;
$scrollbar-color: #3a3a3a;
$round-hover-bgcolor: #373737;
$stripe-bg: #f8f8f8;
$light-theme-bgcolor: #f3e9ff;
$light-theme-bgcolor-hover: #bfa6df;

// aside
$aside-width: 300px;

// main
$main-min-width: 800px;

// border
$border: 1px solid #3f3f3f;
$border-color: #d3d3d3;

$page-padding: 16px 32px;

// card
$card-small-width: 320px;

// header
$header-height: 60px;
$header-z-index: 1002;

// scrollbar
$scrollbar-color: #e0e0e0;

// progress
$progress-bgcolor: #cacaca;

// playlist
$playlist-z-index: 1001;
$playlist-bgcolor: #363636;
$playlist-hover-bgcolor: #f1f1f1;

// select
$select-z-index: 999;

// search
$search-panel-z-index: 1001;
$search-bgcolor: #363636;

// button
$button-border-color: #454545;
$button-hover-bgcolor: #3e3e3e;

// modal
$modal-bg-color: #ffffff;

// prompt
$prompt-bg-color: #363636;

//input
$input-color: #4a4a4a;
$input-bgcolor: #ededed;
